


<form action="{% url 'shop:filter' category.first.category.id %}" method="get">
<div class="container">
    <div class="aside">
        <h3 class="aside-title">Производитель</h3>
        <div class="checkbox-filter">
            <div class="input-checkbox">
                <input type="checkbox" name="brand" value="apple" id="brand-1">
                <label for="brand-1">
                    <span></span>
                    Apple
                    <small>({{ brand_count.apple }})</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" name="brand" value="samsung"  id="brand-2">
                <label for="brand-2">
                    <span></span>
                    Samsung
                    <small>({{ brand_count.samsung }})</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" name="brand" value="sony"  id="brand-3">
                <label for="brand-3">
                    <span></span>
                    Sony
                    <small>({{ brand_count.sony }})</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" name="brand" value="huawei"  id="brand-4">
                <label for="brand-4">
                    <span></span>
                    Huawei
                    <small>({{ brand_count.huawei }})</small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" name="brand" value="xiaomi"  id="brand-5">
                <label for="brand-5">
                    <span></span>
                    Xiaomi
                    <small>({{ brand_count.xiaomi }})</small>
                </label>
            </div>
        </div>
    </div>
    <hr>
     <!-- Year ============================================================== 
    =====================================================================-->
    <div class="aside">
        <h3 class="aside-title">Год</h3>
        <div class="checkbox-filter">
            <div class="input-checkbox">
                <input type="checkbox" name="year" value="2019" id="year-1">
                <label for="year-1">
                    <span></span>
                    2019
                    <small></small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" name="year" value="2020"  id="year-2">
                <label for="year-2">
                    <span></span>
                    2020
                    <small></small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" name="year" value="2021"  id="year-3">
                <label for="year-3">
                    <span></span>
                    2021
                    <small></small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" name="year" value="2022"  id="year-4">
                <label for="year-4">
                    <span></span>
                    2022
                    <small></small>
                </label>
            </div>
            <div class="input-checkbox">
                <input type="checkbox" name="year" value="2023"  id="year-5">
                <label for="year-5">
                    <span></span>
                    2023
                    <small></small>
                </label>
            </div>
        </div>
    </div>

    <button class="btn btn-danger" type="submit" id="button-addon2" style="margin-top: 10px;">
        Найти
    </button>
</div>
</form>