

<ul class="list-unstyled">
    <li>Год релиза<span class="dot">...............................</span>{{ product.year }}

    <li>Диагональ<span class="dot">...............................</span>{{ product.diagonal }}
    </li>

    <li>Разрешение<span class="dot">.............................</span>{{ product.resolution }}
    </li>

    <li>Технология экрана<span class="dot">.................</span>{{ product.display_type }}
    </li>

    <li>Частота обновления<span class="dot">..............</span>{{ product.frequency  }}
    </li>

    <li>Яркость<span class="dot">....................................</span>{{ product.brightness }}
    </li>

    <li>Разъёмы и нтерфейсы<span class="dot">..........</span>{{ product.interfaces }}
    </li>

    <li>
        Беспроводные итерфейсы<span class="dot">...</span>{{ product.wireless  }}
    </li>

    <li>Smart TV<span class="dot">...................................</span>{{ product.smart_tv }}
    </li>

    <li>Мощность звука<span class="dot">.....................</span>{{ product.sound }}
    </li>

    <li>Цвет<span class="dot">..........................................</span>{{ product.color }}
    </li>

</ul>