

<ul class="list-unstyled">
    <li>Release date<span class="dot">.....................</span>{{ product.year }}
        
    <li>Display<span class="dot">...............................</span>{{ product.display }}
    </li>

    <li>CPU<span class="dot">....................................</span>{{ product.cpu }}
    </li>

    <li>GPU<span class="dot">....................................</span>{{ product.graphic }}
    </li>

    <li>Memory<span class="dot">.............................</span>{{ product.memory }}
    </li>

    <li>Battary<span class="dot">...............................</span>{{ product.battery }}
    </li>

    <li>OC<span class="dot">......................................</span>{{ product.os }}
    </li>

    <li>Weight<span class="dot">................................</span>{{ product.weight }}
    </li>

    <li>Color<span class="dot">...................................</span>{{ product.color }}
    </li>

</ul>