

<ul class="list-unstyled">
    <li>Год релиза<span class="dot">.......................</span>{{ product.year }}
        
    <li>Экран<span class="dot">................................</span>{{ product.display }}
    </li>

    <li>Видео<span class="dot">................................</span>{{ product.graphic }}
    </li>

    <li>Процессор<span class="dot">........................</span>{{ product.cpu }}
    </li>

    <li>Память<span class="dot">..............................</span>{{ product.memory }}
    </li>

    <li>Аккумулятор<span class="dot">....................</span>{{ product.battery }}
    </li>

    <li>ОС<span class="dot">......................................</span>{{ product.os }}
    </li>

    <li>Вес<span class="dot">.....................................</span>{{ product.weight }}
    </li>

    <li>Цвет<span class="dot">...................................</span>{{ product.color }}
    </li>

</ul>




