

<ul class="list-unstyled">
    <li class>Год релиза<span class="dot">.......................</span>{{ product.year }}
    </li>
    <li>Экран<span class="dot">................................</span>{{ product.display }}
    </li>

    <li>Память<span class="dot">.............................</span>{{ product.memory }}
    </li>

    <li>Фото<span class="dot">..................................</span>{{ product.camera }}
    </li>

    <li>Аккумулятор<span class="dot">....................</span>{{ product.battery }}
    </li>


    <li>Процессор<span class="dot">........................</span>{{ product.cpu }}
    </li>

    <li>SIM<span class="dot">.....................................</span>{{ product.sim }}
    </li>

    <li>ОС<span class="dot">.......................................</span>{{ product.os }}
    </li>

    <li>Cвязь<span class="dot">.................................</span>{{ product.communication }}
    </li>

    <li>Вес<span class="dot">.....................................</span>{{ product.weight }}
    </li>
    <li>Цвет<span class="dot">...................................</span>{{ product.color }}
    </li>

</ul>