
<ul class="list-unstyled">
    <li>Release date<span class="dot">............................</span>{{ product.year }}

    <li>Diagonal<span class="dot">...................................</span>{{ product.diagonal }}
    </li>

    <li>Resolution<span class="dot">................................</span>{{ product.resolution }}
    </li>

    <li>Display type<span class="dot">..............................</span>{{ product.display_type }}
    </li>

    <li>Frequency<span class="dot">.................................</span>{{ product.frequency  }}
    </li>


    <li>Brightness<span class="dot">................................</span>{{ product.brightness }}
    </li>

    <li>Interfaces<span class="dot">.................................</span>{{ product.interfaces }}
    </li>

    <li>
        Wireless<span class="dot">....................................</span>{{ product.wireless  }}
    </li>

    <li>Smart TV<span class="dot">...................................</span>{{ product.smart_tv }}
    </li>

    <li>Sound power<span class="dot">.............................</span>{{ product.sound }}
    </li>
    <li>Color<span class="dot">..........................................</span>{{ product.color }}
    </li>

</ul>