<ul class="list-unstyled">
    <li>Экран<span style="color: rgb(187, 187, 187);">...............................</span>{{ product.display }}
    </li>

    <li>Видео<span style="color: rgb(187, 187, 187);">................................</span>{{ product.graphic }}
    </li>

    <li>Процессор<span style="color: rgb(187, 187, 187);">........................</span>{{ product.cpu }}
    </li>

    <li>Память<span style="color: rgb(187, 187, 187);">..............................</span>{{ product.memory }}
    </li>

    <li>Аккумулятор<span style="color: rgb(187, 187, 187);">....................</span>{{ product.battery }}
    </li>



    <li>ОС<span style="color: rgb(187, 187, 187);">.......................................</span>{{ product.os }}
    </li>


    <li>Вес<span style="color: rgb(187, 187, 187);">.....................................</span>{{ product.weight }}
    </li>

</ul>





<!-- os = models.CharField('Операционная система', max_length=255, blank=True)
display = models.CharField('Экран', max_length=255, blank=True)
graphic = models.CharField('Видеокарта', max_length=255, blank=True)
memory = models.CharField('Память', max_length=255, blank=True)
battery = models.CharField('Аккумулятор', max_length=255, blank=True)
cpu = models.CharField('Процессор', max_length=255, blank=True)
weight = models.CharField('', max_length=255, blank=True) -->