

<ul class="list-unstyled">
    <li>Экран<span style="color: rgb(187, 187, 187);">...............................</span>{{ product.display }}
    </li>

    <li>Память<span style="color: rgb(187, 187, 187);">.............................</span>{{ product.memory }}
    </li>

    <li>Фото<span style="color: rgb(187, 187, 187);">..................................</span>{{ product.camera }}
    </li>

    <li>Аккумулятор<span style="color: rgb(187, 187, 187);">....................</span>{{ product.battery }}
    </li>


    <li>Процессор<span style="color: rgb(187, 187, 187);">........................</span>{{ product.cpu }}
    </li>

    <li>SIM-карты<span style="color: rgb(187, 187, 187);">.........................</span>{{ product.sim }}
    </li>

    <li>ОС<span style="color: rgb(187, 187, 187);">.......................................</span>{{ product.os }}
    </li>

    <li>Cвязь<span style="color: rgb(187, 187, 187);">.................................</span>{{ product.communication }}
    </li>

    <li>Вес<span style="color: rgb(187, 187, 187);">.....................................</span>{{ product.weight }}
    </li>

</ul>