<ul class="list-unstyled">
    <li>Диагональ<span style="color: rgb(187, 187, 187);">...............................</span>{{ product.diagonal }}
    </li>

    <li>Разрешение<span style="color: rgb(187, 187, 187);">.............................</span>{{ product.resolution }}
    </li>

    <li>Технология экрана<span style="color: rgb(187, 187, 187);">.................</span>{{ product.display_type }}
    </li>

    <li>Частота обновления<span style="color: rgb(187, 187, 187);">..............</span>{{ product.frequency  }}
    </li>


    <li>Яркость<span style="color: rgb(187, 187, 187);">....................................</span>{{ product.brightness }}
    </li>

    <li>Разъёмы и нтерфейсы<span style="color: rgb(187, 187, 187);">..........</span>{{ product.interfaces }}
    </li>

    <li>
        Беспроводные итерфейсы<span style="color: rgb(187, 187, 187);">...</span>{{ product.wireless  }}
    </li>

    <li>Smart TV<span style="color: rgb(187, 187, 187);">...................................</span>{{ product.smart_tv }}
    </li>

    <li>Мощность звука<span style="color: rgb(187, 187, 187);">.....................</span>{{ product.sound }}
    </li>
    <li>Цвет<span style="color: rgb(187, 187, 187);">..........................................</span>{{ product.color }}
    </li>

</ul>