{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{{ block.super }}| {{ product.category }}|{{ product.title }}
{% endblock %}

{% block content %}




	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-light p-2">
				<li class="breadcrumb-item"><a href="{% url 'shop:home' %}"><i class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item"><a href="#">{{ product.category }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
			</ol>
		</nav>
	</div>
	

	<div class="container py-3">
		<div class="row">

			<div class="col-md-4 order-md-2">
				{% get_current_language as LANGUAGE_CODE %}
				<h1>{{ product.title }}</h1>


                <h6>{% translate 'Коротко о товаре:' %}</h6>
                {% if product.category.slug == 'smartphones' and LANGUAGE_CODE == 'ru' %}
                    {% include 'inc/_phone_rus.html' %}
				{% elif product.category.slug == 'smartphones' and LANGUAGE_CODE == 'en' %}
					{% include 'inc/_phone_eng.html' %}
				{% elif product.category.slug == 'notebooks' and LANGUAGE_CODE == 'ru' %}
					{% include 'inc/_note_rus.html' %}
				{% elif product.category.slug == 'notebooks' and LANGUAGE_CODE == 'en' %}
					{% include 'inc/_note_eng.html' %}
				{% elif product.category.slug == 'televizory' and LANGUAGE_CODE == 'ru' %}
					{% include 'inc/_tv_rus.html' %}
				{% elif product.category.slug == 'televizory' and LANGUAGE_CODE == 'en' %}
					{% include 'inc/_tv_eng.html' %}
				{% endif %}




				{% comment %}
				{% if product.category.slug == 'notebooks' and LANGUAGE_CODE == 'ru' %}
				{% include 'inc/_note_rus.html' %}
				{% else %}
					{% include 'inc/_note_eng.html' %}
				{% endif %}


				{% if product.category.slug == 'televizory' and LANGUAGE_CODE == 'ru' %}
					{% include 'inc/_tv_rus.html' %}
				{% else %}
					{% include 'inc/_tv_eng.html' %}
				{% endif %}
				{% endcomment %}


				{% if product.available %}
				<ul class="list-unstyled">
					<li><i class="fas fa-check text-success"></i>{% translate 'В наличии' %}</li>
                    <i class="fas fa-hand-holding-usd"></i> <span class="product-price">
                        {{ product.price|floatformat:0|intcomma  }} &#8381;
                    </li>
				</ul>

				<div id="product">
				</div>
				<div class="product-links">
					<!-- <a href="#"><i class="fas fa-shopping-cart"></i></a> -->
					<!-- <a href="#"><i class="far fa-heart"></i></a> -->
					{% if product.slug not in url_array %}
					<form action="{% url 'cart:add' product.category.name  product.id product.slug %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="url_from" value="{{ request.path }}">

						<label for="quantity">{% translate 'Кол-во:' %}</label>				
						<input type="number"  id="quantity" name="quantity" min="1" max="10" value="{{ item.qty }}" style="width: 100px;">
						<button class="btn btn-danger" type="submit" id="button-addon2">
							{% translate 'В корзину' %}
						</button>
					</form>
					{% else %}
					{% include 'inc/_icon_in.html' %}
					<span class="product-price">{% translate 'Товар в корзине' %}</span>
					{% endif %}

				</div>
				{% else %}
				<ul class="list-unstyled">
					<li><i class="fas fa-shipping-fast text-muted"></i>{% translate 'Ожидается' %}</li>
                    <i class="fas fa-hand-holding-usd"></i> <span class="product-price">
                        {{ product.price|floatformat:0|intcomma  }} &#8381;
                    </li>
				</ul>
				{% endif %}

			</div>

			<div class="col-md-7 order-md-1">
				
				<ul class="thumbnails list-unstyled clearfix">
					<li class="thumb-main text-center"><a class="thumbnail" href="{{ product.image.url }}" data-effect="mfp-zoom-in"><img src="{{ product.image.url }}" alt=""></a></li>

					<li class="thumb-additional"><a class="thumbnail" href="{{ product.image.url }}" data-effect="mfp-zoom-in"><img src="{{ product.image.url }}" alt=""></a>
                    </li>
					<!-- <li class="thumb-additional"><a class="thumbnail" href="{{ product.image.url }}" data-effect="mfp-zoom-in"><img src="{{ product.image.url }}" alt=""></a></li>
					<li class="thumb-additional"><a class="thumbnail" href="{{ product.image.url }}" data-effect="mfp-zoom-in"><img src="{{ product.image.url }}" alt=""></a></li>
					<li class="thumb-additional"><a class="thumbnail" href="{{ product.image.url }}" data-effect="mfp-zoom-in"><img src="{{ product.image.url }}" alt=""></a></li> -->
				</ul>

				<p>{{ product.description }}</p>


			</div>

		</div>
	</div>






{% endblock %}