{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}
{{ block.super }}|{% translate 'Результаты поиска' %}
{% endblock %}

{% block content %}

<section class="featured-products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-title">{% translate 'Результаты поиска' %}</h3>
            </div>
            {% for item in products %}

            <div class="col-lg-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-tumb">
                        <a href="#"><img src="{{ item.image.url }}" alt=""></a>
                    </div>

                    <div class="product-details">
                        <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                        <p>{{ item.description }}</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">{{ item.price|floatformat:0|intcomma }} &#8381;</div>
                            <div class="product-links">
                                <a class="add-to-cart" href="/cart/" data-id="{{ item.id }}"><i
                                        class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}




        </div>
    </div>
</section>





{% endblock content %}