{% extends 'base.html' %}

{% block content %}

<h1>Your cart:</h1>

    {{ items }}
{% for item in items %}

    <p>{{ item.title }}</p>
    <p>{{ item.price }}</p>

    <form action="{% url 'cart:cart_detail' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="url_from" value="{{ request.path }}">

        <label for="quantity">Кол-во: </label>				
        <input type="number"  id="quantity" name="quantity" min="1" max="10" value="{{ item.qty }}" style="width: 100px;">
        <button class="btn btn-danger" type="submit" id="button-addon2">Обновить</button>
        
    </form>
    <!-- <p>{{ item.qty }}</p> -->

    <br>
    <form action="{% url 'cart:remove' item.slug %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn-danger">Удалить</button>
    </form>
<br><br><hr>
{% endfor %}




<br><br><br><br><br><br><br>
{% if request.session %}
    <form action="{% url 'cart:delete' %}" method="post">{% csrf_token %}
        <button type="submit" class="btn-danger">Очистить корзину</button>
    </form>
{% endif %}










<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}